{% extends "menu.html"%}

{% load crispy_forms_tags %}
{{titulo}}

 {% block titulo %}INSCRIBIR{% endblock %}
 {% block contenido %}
{% include "gestioncate.html"%}
<div id="body">
  <div class="col-md-12">
     <div align="col-md-10 col-sm-offset-2 ">
<br><br><br><br>
<form method="POST" action="">{% csrf_token %}
<H2><strong> Desea eliminar la comunidad {{area.nombre}}</strong></H2>
	
	<button class="btm btn-danger" type="submit">Eliminar</button>
	<a class="btn btn-default" href="{% url 'comunidad' %}">Cancelar</a>
</form>
</div>
<br> 
</div></div>
{% endblock %}
