{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block titulo %}Catequistas{% endblock %}
{% block contenido %}
{% include "gestioncate.html"%}
<div id="body">
<br>
<H1>Listado de catequistas</H1>
<br>
<div class="col-lg-11">
<div align="center"><table class="table table-striped table-bordered">
	<caption>Listado de catequista</caption>
	<tr>
		<th>No.</th>
		<th>Nombre</th>
		<th>Comunidad</th>
		<th>Area</th>
		<th>Grupo</th>
		<th>Estado Actual</th>
	</tr>
	{%for elemento in lis%}
	<tr><td>{{forloop.counter}}</td>
	<td><input class="form-control mr-sm-2" type="text" value="{{elemento}}" editable="false" ></td>
	<td>{{elemento.id_comunidad}}</td>
	<td>{{elemento.id_area}}</td>
	<td>{{elemento.id_grupo}}</td>
	{% if elemento.is_Admin%}
		<td>Administrador</td>
		<td><a class="btn btn-primary" href="{% url 'rolCoo' elemento.id_catequista %}">Coordinador</a></td>
		<td><a class="btn btn-primary" href="{% url 'rolCat' elemento.id_catequista %}">Catequista</a></td>
		<td><a class="btn btn-primary" href="{% url 'rolSec' elemento.id_catequista %}">Secretaria</a></td>
	{%else%}
		{% if elemento.is_Coordinador%}
			<td>Coordinador</td>
			<td><a class="btn btn-primary" href="{% url 'rolAdm' elemento.id_catequista %}">Administrador</a></td>
			<td><a class="btn btn-primary" href="{% url 'rolCat' elemento.id_catequista %}">Catequista</a></td>
			<td><a class="btn btn-primary" href="{% url 'rolSec' elemento.id_catequista %}">Secretaria</a></td>
		{% else %}
			{% if elemento.is_Secretaria %}
				<td>Secretaria</td>
				<td><a class="btn btn-primary" href="{% url 'rolAdm' elemento.id_catequista %}">Administrador</a></td>
				<td><a class="btn btn-primary" href="{% url 'rolCoo' elemento.id_catequista %}">Coordinador</a></td>
				<td><a class="btn btn-primary" href="{% url 'rolCat'  elemento.id_catequista %}">Catequista</a></td>
			{% else %}
				<td>Catequista</td>
				<td><a class="btn btn-primary" href="{% url 'rolAdm' elemento.id_catequista %}">Administrador</a></td>
				<td><a class="btn btn-primary" href="{% url 'rolCoo' elemento.id_catequista %}">Coordinador</a></td>
				<td><a class="btn btn-primary" href="{% url 'rolSec' elemento.id_catequista %}">Secretaria</a></td>
			{% endif %}
		{% endif %}
	{% endif %}
	</tr>
	</tr>
	{%endfor%}
</table>
</div></div></div>
{% endblock %}
