 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ProCate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'menu' %}">Menu Principal<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'asis' %}">Asistencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Perfil</a>
          </li>
        </ul>
<!--         <form class="navbar-form navbar-right" role="form"> -->
        <form class="form-inline mt-2 mt-md-0">
        <!--   <input class="form-control mr-sm-2" type="text" placeholder="No se que va aqui ;V" aria-label="Search"> -->
        {%if request.user.is_active%}
          <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="{% url 'cerrar'  %}">Cerrar Sesion</a>
                    {%endif%}
        <!-- 
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button> -->

        </form>
      </div>
    </nav>
